.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem
}

.flex {
  display: flex
}

.table {
  display: table
}

.items-center {
  align-items: center
}

.gap-\[8px\] {
  gap: 8px
}

.bg-\[\#1997ff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(25 151 255 / var(--tw-bg-opacity))
}

.bg-\[\#1677ff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(22 119 255 / var(--tw-bg-opacity))
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.py-0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}
